 <footer class="footer">
    <a href="/"><img class="footer__logotipo" src="/src/assets/images/imagotipo.png" alt="Imagotipo del evento CiverSguridad summit"></a>
    <div class="footer__legal">
        <nav>
            <ul class="footer__links-list">
                <li class="footer__item"><a class="footer__link" href="./index.html">Poster</a></li>
                <li class="footer__item"><a class="footer__link" href="./speakers.html">Listado ponentes</a></li>
                <li class="footer__item"><a class="footer__link" href="./about.html">Sobre nosotros</a></li>
                <li class="footer__item"><a class="footer__link" href="./inscription.html">Inscripción</a></li>
            </ul>
        </nav>
        <p class="footer__legal-text">2024 © Diseño realizado por Omar Hevia Arbana para la asignatura HTML y CSS Herramientas II. Todos los derechos reservados</p>
    </div>
</footer>
