@use "sass:color";

/* Fonts */

$font-family-principal: "Lalezar", system-ui;
$font-family-secondary: "Inter", sans-serif;

/* Colors */

$primary-color: #3636C6;
$secondary-color: #C7F817;
$background-color: #EAEDF5;
$background-footer: #F4F5F8;
$text-color: #202022;
$white-color: #FFFFFF;
$error-color: #C6366D;

/* Font Size */

$font-size-14: 0.87rem; // 16px
$font-size-16: 1rem; // 16px
$font-size-18: 1.2rem; // 18px
$font-size-20: 1.25rem; // 20px
$font-size-24: 1.5rem; // 24px
$font-size-28: 1.75rem; // 28px
$font-size-30: 1.87rem; // 30px
$font-size-36: 2.25rem; // 36px
$font-size-48: 3rem; // 48px
$font-size-70: 4.37rem; // 70px

/* Responsive */

$breakpoint-xs: 0px;        // Extra pequeño
$breakpoint-sm: 390px;      // Pequeño
$breakpoint-md: 600px;      // Mediano
$breakpoint-lg: 900px;      // Grande
$breakpoint-xl: 1200px;     // Extra grande
$breakpoint-xxl: 1600px;    // Extra extra grande


/* Fontawesome */

$fa-font-path: './../../../node_modules/@fortawesome/fontawesome-free/webfonts';


